# =====================
# Environment & Secrets
# =====================
.env

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
.venv/
venv/

# =====================
# Docker
# =====================
docker-compose.override.yml

# =====================
# OS / Editor
# =====================
.DS_Store
.vscode/
.idea/

# =====================
# Project specific
# =====================
app/prompts/
